################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dynamics.Webhooks/Dynamics.Webhooks/Dynamics.Webhooks.AFCopyContact/Properties
